@font-face {
  font-family: "snes";
  src: url(fonts/snes.ttf);
}
* {
  box-sizing: border-box;
  font-family: "snes";
}

html {
  height: 100%;
}

body {
  /*background-image: url("images/tabletop.jpg");*/
  background-color: rgb(105, 106, 184);
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header__nav {
  width: 150px;
  height: 75px;
  background-color: #b5b6e4;
  text-align: center;
  padding-top: 23px;
  border-radius: 0px 0px 10px 10px;
  border: 5px solid black;
  transform: translateY(-65px);
  transition: 0.5s;
}

.header__nav:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.header__nav__a {
  font-size: 20pt;
  font-weight: 500;
  cursor: pointer;
}

.calculator {
  display: flex;
  flex-direction: column;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  transform: translate(-50%, -50%);
  aspect-ratio: 3/5;
  max-width: 500px;
  min-height: 600px;
  max-height: 90%;
  background-color: #b2b4b2;
  border: 7px solid #54585a;
  box-shadow: 0px 5px 10px rgb(31, 31, 31);
  border-radius: 5px;
}

.calculator__upper {
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: #54585a;
  margin: 3%;
  border: black solid 3px;
  border-radius: 5px;
  max-height: 200px;
}

.calculator__upper__container {
  display: flex;
  flex-direction: row;
  height: 40%;
}

.calculator__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80%;
  margin: 1%;
  background-color: black;
  color: rgb(196, 22, 22);
  font-size: calc(1rem + 6 * (100vw - 320px) / 680);
  border-radius: 5px;
}

.calculator__solar {
  width: 46%;
  height: 55%;
  margin: 1%;
  margin-top: 3%;
  background-color: rgb(161, 135, 63);
  border: black solid 1px;
  background-image: url(images/Vertical-Line.png);
  background-size: 13%;
  background-position: 5%;
}

.calculator__screen {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 98%;
  height: 58%;
  color: rgb(43, 43, 43);
  background-color: #a7a4e0;
  padding-right: 1%;
  align-self: center;
  box-shadow: inset 0px 2px 7px 2px rgba(0, 0, 0, 0.562);
  border: 10px black solid;
  border-radius: 5px;
}

.calculator__lower {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 1%;
  grid-column-gap: 1%;
  flex: 6;
  background-color: #54585a;
  margin: 5%;
  border: black solid 3px;
  border-radius: 5px;
}

.calculator__button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: calc(3rem + 6 * (100vw - 320px) / 680);
  height: calc(3rem + 6 * (100vw - 320px) / 680);
  font-size: large;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  background: #a7a4e0;
  color: black;
  font-weight: 700;
  box-shadow: 0px 5px 5px black;
}

.calculator__button:hover {
  background-color: #b2b4b2;
}

.darkpurple__button {
  background-color: #514689;
}

#zero {
  grid-row-start: 5;
  grid-column-start: 1;
}

#equals {
  grid-row-start: 5;
  grid-column-start: 2;
  grid-column-end: 4;
  width: 100%;
  height: calc(3rem + 6 * (100vw - 320px) / 680);
  border-radius: 500px;
  background-color: rgb(41, 41, 41);
}

#decimal {
  grid-row-start: 5;
  grid-column-start: 4;
}

#plus {
  grid-row-start: 4;
  grid-column-start: 4;
}

#minus {
  grid-row-start: 3;
  grid-column-start: 4;
}

#multiply {
  grid-row-start: 2;
  grid-column-start: 4;
}

#divide {
  grid-row-start: 1;
  grid-column-start: 4;
}

#squareroot {
  grid-row-start: 1;
  grid-column-start: 3;
}

#percent {
  grid-row-start: 1;
  grid-column-start: 2;
}

@media screen and (max-width: 269px) {
  .calculator__logo {
    font-size: 8pt;
  }
  .calculator__screen {
    font-size: 16pt;
    letter-spacing: 5px;
    overflow: hidden;
  }
  .calculator__button {
    width: calc(3rem + 6 * (100vw - 320px) / 680);
    height: calc(3rem + 6 * (100vw - 320px) / 680);
    font-size: large;
  }
  #equals {
    height: calc(3rem + 6 * (100vw - 320px) / 680);
  }
}
@media screen and (min-width: 270px) and (max-width: 299px) {
  .calculator__logo {
    font-size: calc(15px + 6 * (100vw - 320px) / 680);
  }
  .calculator__screen {
    font-size: calc(30px + 6 * (100vw - 320px) / 680);
    letter-spacing: calc(10px + 6 * (100vw - 320px) / 680);
  }
  .calculator__button {
    width: calc(3rem + 6 * (100vw - 320px) / 680);
    height: calc(3rem + 6 * (100vw - 320px) / 680);
    font-size: large;
  }
  #equals {
    height: calc(3rem + 6 * (100vw - 320px) / 680);
  }
}
@media screen and (min-width: 300px) and (max-width: 399px) {
  .calculator__logo {
    font-size: calc(17px + 6 * (100vw - 320px) / 680);
  }
  .calculator__screen {
    font-size: calc(40px + 6 * (100vw - 320px) / 680);
    letter-spacing: calc(10px + 6 * (100vw - 320px) / 680);
  }
  .calculator__button {
    width: calc(3.5rem + 6 * (100vw - 320px) / 680);
    height: calc(3.5rem + 6 * (100vw - 320px) / 680);
    font-size: large;
  }
  #equals {
    height: calc(3.5rem + 6 * (100vw - 320px) / 680);
  }
}
@media screen and (min-width: 400px) and (max-width: 549px) {
  .calculator__logo {
    font-size: calc(20px + 6 * (100vw - 320px) / 680);
  }
  .calculator__screen {
    font-size: calc(60px + 6 * (100vw - 320px) / 680);
    letter-spacing: calc(10px + 6 * (100vw - 320px) / 680);
  }
  .calculator__button {
    width: calc(4rem + 6 * (100vw - 320px) / 680);
    height: calc(4rem + 6 * (100vw - 320px) / 680);
    font-size: large;
  }
  #equals {
    height: calc(4rem + 6 * (100vw - 320px) / 680);
  }
}
@media screen and (min-width: 550px) and (max-width: 699px) {
  .calculator__logo {
    font-size: calc(25px + 6 * (100vw - 320px) / 680);
  }
  .calculator__screen {
    font-size: 50pt;
    letter-spacing: 20px;
  }
  .calculator__button {
    width: 80px;
    height: 80px;
    font-size: x-large;
  }
  #equals {
    height: 80px;
  }
}
@media screen and (min-width: 700px) {
  .calculator__logo {
    font-size: 20pt;
  }
  .calculator__screen {
    font-size: 50pt;
    letter-spacing: 20px;
  }
  .calculator__button {
    width: 80px;
    height: 80px;
    font-size: xx-large;
  }
  #equals {
    height: 80px;
  }
}/*# sourceMappingURL=styles.css.map */